body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141313;
    color: #ffff;
    font-family: sans-serif;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}
.logo-nasa {
    width: 56px;
    height: 56px;
    transition: transform 0.3s ease; 
}

.logo-nasa:hover {
    transform: scale(1.2); 
}
.apodSection {
    display: flex;
    justify-content: center;
    
}
.apodContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 100%;
}

.title {
    padding: 12px;
    margin: 12px;
    font-size: 40px;
}

.imageApo {
    border-radius: 2%;
    margin-bottom: 16px;
    width: 100%; 
    height: 950px;
    object-fit: cover; 
}

.titleImg {
    margin: 12px;
}
.date {
    margin-bottom: 24px;
}
.description {
    margin: 18px;
    opacity: .7;
    text-align: justify;
    line-height: 1.5;
}
.copyright{
    opacity: .6;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px; 
    margin-left: -25px; 
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .logo-nasa {
        width: 42px;
        height: 42px;
    }
    .apodContainer {
        width: 90%; 
    }
    .imageApo {
        height: 400px; 
    }
    .title {
        padding: 12px;
        margin: 12px;
        font-size: 24px;
    }
    .titleImg {
        font-size: 16px;
        margin: 8px;
    }
}